version: "3.8"

services: 
    web:
      build: ./frontend
      ports:
        - "5173:5173"
      environment:
      - CHOKIDAR_USEPOLLING = true        
    api:
      build: ./backend
      ports:
        - "5000:5000"        
      environment:
      - CHOKIDAR_USEPOLLING = true
      - PORT=5000
      - MONGO_URI="mongodb+srv://arunkumart24071986:Aarya2016@cluster0.vxrx4km.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
      - JWT_SECRET="mYFIRSTcHATAPP"    


volumes:
  chat-app: